nav {
  position: fixed;
  top: 0;
  display:flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}

.logo {
  font-family: 'Bungee', cursive;
}

nav span {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}

nav .fa-angles-down{
  color:crimson
}