.container {
  width: 90%;
  background-color: #f4f1ec;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}


div button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

div p {
  margin: 0.5em 0;
}

footer h2 {
  color: #999;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  border-style: solid;
}

i:hover{
  color: red
  }

  .tweet--avatar {
    width: 70px;
    height: 70px;
  }

  .tweet {
    padding: 1rem;
    box-shadow: 3px 3px;
    margin-top: 20px;
  }

  .tweet:hover {
    box-shadow: 5px 5px #008c8c;
  }

  #tweets-container {
    margin-top: 40px;
  }

  .error {
    color: red;
  }